header {
    background: url('image/Obey.png');
    background-size: cover;
    text-align: center;
}
body {
    background-color: #0e34a0;
}
h1 {
    font-family: 'PT Serif', serif;
    color: black;
}
li {
    display: inline;
    margin: 10px;
}
p {
    color: white;
}
.pics {
    text-align: center;
}
img{
    border: dashed;
    margin-left: 40px;
}
